<hr />
<h3>Transaction History</h3>
<% if @actions.empty? %>
    <%= content_tag :div, "You have not sold any products.", class: 'alert alert-dark text-center' if @user.account_type == 2 %>
    <%= content_tag :div, "You have not made any purchases.", class: 'alert alert-dark text-center' if @user.account_type == 1 %>
<% else %>
    <table class="table table-striped table-bordered table-hover table-condensed bg-light">
        <% @actions.order(id: :desc).each do |action| %>
        <tr>
            <td class="text-center"><%= action.created_at.strftime("%b %d, %Y") %></td>
            <%= display_transaction( action ) %>
            <td class="text-end"><%= number_to_currency action.price %></td>
        </tr>
        <% end %>
    </table>
<% end %>