<%= form_for user do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email, class: 'form-control' %><br />
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %><br />
    <%= f.label :first_name %>
    <%= f.text_field :first_name, class: 'form-control' %><br />
    <%= f.label :last_name %>
    <%= f.text_field :last_name, class: 'form-control' %><br />
    <%= f.label :company_name %>
    <%= f.text_field :company_name, class: 'form-control' %><br />
    
    <%= render_account_type_for_form(f) %>

    <br>
    <div class="d-grid gap-2">
        <% if !current_user.nil? %>
            <%= f.submit 'Save', class: 'btn btn-outline-dark' %>
            <%= link_to 'Cancel', user_path( current_user ), class: 'btn btn-outline-warning' if !current_user.nil? %>
        <% else %>
            <%= f.submit 'Sign Up', class: 'btn btn-outline-dark' %>
        <% end %>
    </div>
<% end %>