<br />
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2">
        <%= render partial: 'users/account_settings' if @user.id == current_user.id %>
        
        <div style="text-align: right;">
            <%= render partial: 'list_sellers', locals: { sellers: @sellers } %>
        </div>
    </div>
    <div class="col-md-8">
        <h1><%= @user.company_name %></h1>
        <p>Owner: <%= @user.first_name %> <%= @user.last_name %></p>

        <hr />
        <div class="row">
            <h3>Products</h3>
            <div class="d-grid gap-2"><%= add_new_product_button if current_user.account_type == 2 %></div>
            <%= render partial: 'products/display_products_slim', locals: { products: @user.products } %>
        </div>

        <hr />
        <h3>Comments from Other Users</h3>
    </div>
</div>
<br />