<br />
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-2">
        <%= render partial: 'users/sidebar_profile_image' %>
        <%= render partial: 'users/sidebar_account_settings' if @user.id == current_user.id %>
        <%= render partial: 'users/sidebar_wallet' if @user.id == current_user.id && current_user.account_type == 1 %>
        <%= render partial: 'products/display_cart' if @user.id == current_user.id && current_user.account_type == 1 %>

        <div style="text-align: right;">
            <%= render partial: 'list_sellers', locals: { sellers: @sellers } if @user.account_type == 2 %>
        </div>
    </div>

    <div class="col-md-6">
        <h1><%= @user.company_name %></h1>
        <hr />

        <%= render partial: 'users/display_seller_products', locals: { user: @user } if @user.account_type == 2 %>

        <%= render partial: 'carts/display_recent_purchases', locals: { cart_products: @purchased_items } if @user.account_type == 1 %>

        <hr />
        <h3>Comments from Other Users</h3>
        <%= form_for @comment, url: user_comments_path( @user ) do |f| %>
            <%= f.text_area :content, placeholder: 'Leave a comment...', class: 'form-control' %><br />
            <%= f.submit 'Post Comment', class: 'btn btn-custom btn-sm' %>
        <% end %>

        <hr />
        <% @comments.each do |comment| %>
            <div class="card mb-3" style="width: 100%;">
                <div class="row g-0">
                    <div class="col-md-2">
                        <%= user_image(comment.commenter) %>
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                            <h5 class="card-title"><%= link_to "#{ comment.commenter.first_name } #{ comment.commenter.last_name }", user_path( comment.commenter ) %></h5>
                            <p><small class="text-muted"><%= parse_timestamp(comment.updated_at) %></small></p>
                            <p class="card-text"><%= comment.content %></p>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>
<br />