<% @cart.each do |cart| %>
    <div class="card mb-3" style="width: 100%;">
        <div class="row g-0">
            <div class="col-md-4">
            <%= product_image( cart.product ) %>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h1 class="card-title"><%= cart.product.name %></h1>
                    <h6><%= link_to cart.product.seller.company_name, user_path(cart.product.seller) %></h6>
                    <h4><%= number_to_currency cart.product.price %></h4>

                    <p><%= render partial: 'display_rating_option', locals: { cart: cart, rating: @rating } %></p>

                    <p class="card-text" style="font-size: 12px;"><%= cart.product.description %></p>
                    <%= content_tag :p, "Purchased on #{ parse_timestamp( cart.updated_at ) }", class: 'text-muted' if cart[:purchased] == true %>
                    <%= link_to 'Remove Item', remove_item_path( cart.product ), method: 'post', class: 'btn btn-outline-danger btn-sm' if cart[:purchased] == false %>
                </div>
            </div>
        </div>
    </div>
<% end %>