<%= form_for product do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: 'Name your product...', class: 'form-control' %><br />
    <%= f.label :description %>
    <%= f.text_area :description, placeholder: 'Describe your product...', class: 'form-control' %><br />
    
    <%= f.label :price %>
    <div class="input-group">
        <div class="input-group-text">$</div>
        <%= f.number_field :price, step: 0.01, placeholder: '0.00', class: 'form-control' %>
    </div><br />

    <%= f.label :quantity %>
    <%= f.number_field :quantity, placeholder: '0', class: 'form-control' %><br />
    
    <% if !departments.empty? %>
        <%= f.label 'Select a Department' %>
        <%= f.collection_select :department_id, Department.all, :id, :name, { prompt: true }, { class: 'form-control' } %><br />
        OR
    <% end %>

    <%= f.label 'Create a Department' %><br />
    <%= f.fields_for :department do |d| %>
        <%= d.hidden_field :store_id, value: store.id %>
        <%= d.text_field :name, placeholder: 'Select from above, or create your own', class: 'form-control' %>
    <% end %>
    <br />
    
    <div class="d-grid gap-2">
        <%= f.submit 'Submit', class: 'btn btn-custom' %>
    </div>
<% end %>