<%= form_for product do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: 'What do you call your product?', class: 'form-control' %><br />
    <%= f.label 'Description (min 25)' %>
    <%= f.text_area :description, placeholder: 'Describe your product...', class: 'form-control' %><br />
    <%= f.label :price %>
    <%= f.number_field :price, step: 0.01, placeholder: '29.95', class: 'form-control' %><br />
    <%= f.label :quantity %>
    <%= f.number_field :quantity, placeholder: '20', class: 'form-control' %><br />
    
    <% if !departments.empty? %>
        <%= f.label 'Select a Department' %>
        <%= f.collection_select :department_id, Department.all, :id, :name, { prompt: true }, { class: 'form-control' } %><br />
        OR
    <% end %>

    <%= f.label 'Create a Department' %><br />
    <%= f.fields_for :department do |d| %>
        <%= d.hidden_field :store_id, value: store.id %>
        <%= d.text_field :name, placeholder: 'Select from above, or create your own', class: 'form-control' %>
    <% end %>
    <br />

    <%= f.hidden_field :store_id, value: store.id %>
    <%= f.hidden_field :seller_id, value: user.id %>
    
    <div class="d-grid gap-2">
        <%= f.submit 'Submit', class: 'btn btn-info' %>
    </div>
<% end %>