<div class="row">
    <%= render partial: 'welcome/search_home' %>
</div>

<br />
<div class="row">

    <div class="d-sm-none d-md-block col-md-2 text-end" style="border-right: solid 1px #aaa">
        <%= list_users_or_departments %>
    </div>
    <div class="col-md-10">
        <div class="float-end">
            <%= form_tag current_path, method: 'get' do %>
                <div class="input-group mb-3">
                    <%= select_tag :sort, raw("
                        <option value='name'>Name</option>
                        <option value='recent'>Most Recent</option>
                        <option value='price-asc'>Price Low</option>
                        <option value='price-desc'>Price High</option>"
                    ), class: 'form-control' %>
                    <%= submit_tag "Sort", class: 'btn btn-secondary btn-sm' %>
                </div>
            <% end %>
        </div>
        <h1><%= products_index_title %></h1>

        <%= render partial: 'display_products', locals: { products: @products } %>
    </div>
</div>
<br />