<div class="row">
    <div class="col-md-12 nav-users">
        <%= link_to 'Sellers', sellers_path %>
        <%= link_to 'Products', products_path %>
        <%= link_to 'Categories', user_path(current_user) %>
        <%= link_to 'Wishlist', user_path(current_user) %>
        <%= link_to 'Your Orders', user_path(current_user) %>
        <%= link_to "Cart", user_cart_path(current_user.id, current_user.cart.id) if !current_user.cart.nil? %>
    </div>
</div>